Week 10/TempConvtService/web/WEB-INF/wsdl/localhost_8080/HelloWorldWebApplication/HelloWorldWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tute1.ictcs210/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tute1.ictcs210/" name="HelloWorldWS">
<types>
<xsd:schema>
<xsd:import namespace="http://tute1.ictcs210/" schemaLocation="http://localhost:8080/HelloWorldWebApplication./HelloWorldWS?xsd=1"/>
</xsd:schema>
</types>
<message name="squareMethod">
<part name="parameters" element="tns:squareMethod"/>
</message>
<message name="squareMethodResponse">
<part name="parameters" element="tns:squareMethodResponse"/>
</message>
<message name="convertlength">
<part name="parameters" element="tns:convertlength"/>
</message>
<message name="convertlengthResponse">
<part name="parameters" element="tns:convertlengthResponse"/>
</message>
<message name="CelsiusToFahrenheit">
<part name="parameters" element="tns:CelsiusToFahrenheit"/>
</message>
<message name="CelsiusToFahrenheitResponse">
<part name="parameters" element="tns:CelsiusToFahrenheitResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="HelloWorldWS">
<operation name="squareMethod">
<input wsam:Action="http://tute1.ictcs210/HelloWorldWS/squareMethodRequest" message="tns:squareMethod"/>
<output wsam:Action="http://tute1.ictcs210/HelloWorldWS/squareMethodResponse" message="tns:squareMethodResponse"/>
</operation>
<operation name="convertlength">
<input wsam:Action="http://tute1.ictcs210/HelloWorldWS/convertlengthRequest" message="tns:convertlength"/>
<output wsam:Action="http://tute1.ictcs210/HelloWorldWS/convertlengthResponse" message="tns:convertlengthResponse"/>
</operation>
<operation name="CelsiusToFahrenheit">
<input wsam:Action="http://tute1.ictcs210/HelloWorldWS/CelsiusToFahrenheitRequest" message="tns:CelsiusToFahrenheit"/>
<output wsam:Action="http://tute1.ictcs210/HelloWorldWS/CelsiusToFahrenheitResponse" message="tns:CelsiusToFahrenheitResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://tute1.ictcs210/HelloWorldWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://tute1.ictcs210/HelloWorldWS/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="HelloWorldWSPortBinding" type="tns:HelloWorldWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="squareMethod">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="convertlength">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CelsiusToFahrenheit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HelloWorldWS">
<port name="HelloWorldWSPort" binding="tns:HelloWorldWSPortBinding">
<soap:address location="http://localhost:8080/HelloWorldWebApplication./HelloWorldWS"/>
</port>
</service>
</definitions>