Week 10/TempConvtService/src/conf/xml-resources/web-service-references/HelloWorldWS/wsdl/localhost_8080/HelloWorldWebApplication/HelloWorldWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://tute1.ictcs210/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://tute1.ictcs210/">

<xs:element name="CelsiusToFahrenheit" type="tns:CelsiusToFahrenheit"/>

<xs:element name="CelsiusToFahrenheitResponse" type="tns:CelsiusToFahrenheitResponse"/>

<xs:element name="convertlength" type="tns:convertlength"/>

<xs:element name="convertlengthResponse" type="tns:convertlengthResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="squareMethod" type="tns:squareMethod"/>

<xs:element name="squareMethodResponse" type="tns:squareMethodResponse"/>

<xs:complexType name="squareMethod">
<xs:sequence>
<xs:element name="number" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="squareMethodResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="convertlength">
<xs:sequence>
<xs:element name="cm" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="convertlengthResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CelsiusToFahrenheit">
<xs:sequence>
<xs:element name="celsius" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CelsiusToFahrenheitResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>